@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.fraunces {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "SOFT" 0,
      "WONK" 0;
}

.logo{
    filter: invert(30%)
            sepia(91%) 
            saturate(664%) 
            hue-rotate(126deg) 
            brightness(30%) 
            contrast(90%);
}

.icon{
    filter: invert(30%) 
            sepia(91%) 
            saturate(664%) 
            hue-rotate(126deg) 
            brightness(30%) 
            contrast(90%);
}
  

.icon:hover{

    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(502%) contrast(102%);
}